/* Ajuste de la barra de navegación */
.custom-navbar {
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    background-color: #3089e2;
    padding: 10px;
    flex-wrap: nowrap;
    /* Asegura que los elementos no se envuelvan a la siguiente línea */
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    /* Espacio entre los enlaces */
}

.nav-item {
    display: inline-block;
    /* Asegura que cada elemento esté en línea */
    align-items: center;
}

.nav-link {
    color: #f30707;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #dddddd;
}

/* Estilo para el enlace activo */
.nav-link.active {
    color: #ffffff;
    /* Color blanco para el enlace activo */
    background-color: #0056b3;
    /* Fondo azul más oscuro para el enlace activo */
    border-radius: 5px;
    /* Bordes redondeados para el enlace activo */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        /* Cambia a columna en pantallas pequeñas */
        align-items: center;
    }

    .nav-link {
        margin: 5px 0;
        /* Ajusta el margen en pantallas pequeñas */
    }
}



/* Animacion cargando */
@keyframes loader_5191 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.square {
    background: #0a28ad;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
}

#sq1 {
    background: #ec0606;
    margin-top: -25px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
    background: #ec0606;
    margin-top: -25px;
    animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
    background: #0a28ad;
    margin-top: -25px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
    background: #ec0606;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
    background: #ec0606;
    animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
    background: #0a28ad;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
    background: #0a28ad;
    margin-top: 15px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
    background: #0a28ad;
    margin-top: 15px;
    animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
    background: #0a28ad;
    margin-top: 15px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 600ms infinite;
}


/* Boton Editar Solicitud */

/* styles.css */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Ajusta la distancia entre los botones */
    align-items: center; /* Centra los botones horizontalmente */
}

.button-container button {
    width: 100%; /* Puedes ajustar el ancho según tus necesidades */
    padding: 8px;
    font-size: 14px; /* Ajusta el tamaño del texto */
    cursor: pointer;
}


.Btn-01 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95px;
    height: 33px;
    border: none;
    padding: 0px 10px;
    background-color: rgb(8, 18, 161);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(13, 13, 14);
    transition-duration: .3s;
}

.svg-01 {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    fill: white;
    transition-duration: .3s;
}

.Btn-01:hover {
    color: transparent;
}

.Btn-01:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn-01:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

/* Nuevo Boton Eliminar Solicitud */

.btn-02 {
    font-size: 11px;
    letter-spacing: 1px;
    width: 98px;
    height: 35px;
    text-transform: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 2px solid #ca045d;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #ca045d;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.btn-02:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 30%;
    right: 30%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
}

.btn-02:hover,
.btn-02:focus {
    color: white;
}

.btn-02:hover:before,
.btn-02:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.btn-02:active {
    transform: scale(0.9);
}



/* Boton Guardar Solicitud al editar */

.btn-03 {
    --color: #11cc2a;
    --color2: rgb(10, 10, 10);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .5px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btn-03::after,
.btn-03::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn-03::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn-03:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn-03:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn-03:hover {
    color: var(--color2);
}

.btn-03:active {
    filter: brightness(.7);
    transform: scale(.98);
}

/*Boton cancelar en editar */

.btn-04 {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

.btn-04:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

.btn-04:active {
    transform: scale(0.9);
}

/* Card Fomulario de Solicitudes */
.card-custom {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.card-header-custom {
    background-color: #f8f9fa;
    color: #343a40;
    font-weight: bold;
}




/* Boton enviar solicitud */

.btn-05 {
    font-family: inherit;
    font-size: 15px;
    background: rgb(5, 146, 5);
    width: 100px;
    height: 35px;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-05 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.btn-05 svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.btn-05:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-05:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(0.8);
}

.btn-05:hover span {
    transform: translateX(5em);
}

.btn-05:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


/* Boton Solicitar */

.btn-06 {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #13bae4;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.sparkle {
    fill: #ffffff;
    transition: all 800ms ease;
}

.text {
    font-weight: 600;
    color: #ffffff;
    font-size: medium;
}

.btn-06:hover {
    background: linear-gradient(0deg, #A47CF3, #683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px 0px rgba(55, 186, 238, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
        0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
}

.btn-06:hover .text {
    color: white;
}

.btn-06:hover .sparkle {
    fill: white;
    transform: scale(1.2);
}